div#moxie-no-movie{
	display: none;
}

div#moxie-movie-loading{
  margin-left: 50%;
}

div#moxie-movie-loading .semi-circle-spin > div {
  background-color: #C32727 !important;
}

.moxie-movie-image {
	width: 40%;
	float: left;
	max-height: 300px;
}

.moxie-movie-image > img {
	max-height: 300px;
}
.moxie-movie-item {
	clear:both;
	padding: 10px;
}

.moxie-movie-title-header {
	font-size: 20px;
	font-weight: bold;
}
.moxie-movie-year-header {
	float: right;
}
.moxie-movie-rating { 
	margin-top: 10px;
	font-size: 18px;
}

.moxie-movie-description {
	margin-top: 10px;
	font-size: 16px;
	padding: 5px;
}